.godot/
/android/

Urban\ Flow*
*.apk
*apk.*
*.idsig
*.ipa
*.exe
player_data*

/libgodot.*
MoltenVK*


*.xcprivacy
.vscode
__pycache__

server_predict/*.tflite
server_predict/test.png
server_predict/test.png.import
