.godot/
/android/

Urban\ Flow*
*.apk
*apk.*
*.idsig
*.ipa
*.exe
player_data*

/libgodot.*
MoltenVK*


*.xcprivacy
.vscode
__pycache__

model/*.tflite

addons/tflite_gdext/*.so
addons/tflite_gdext/android/*.so
addons/tflite_gdext/godot-cpp/

addons/godot-sqlite/bin/*.so
